.about {
    margin: 0 0 60px;
    .imagem {
        img {
            border-radius: 10px;
        }
    }
    .sobre {
        .titulo {
            font-weight: 700;
            color: $azul-1;
            text-transform: uppercase;
            font-size: 24px;
            margin: 0 0 20px;
        }
        .texto {
            color: $cinza-2;
        }
    }
}