footer {
    .container {
        span {
            border-top: solid 1px $cinza-4-opacity;
            color: $cinza-4;
            font-size: 11px;
            margin: 0 15px 60px;
            padding: 10px 0;
            display: block;
        }
    }
}