body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    padding: 0;
    margin: 0;
    background: $cinza-1 !important;
}
.btn {
    background: $azul-1 !important;
    color: $branco;
    border-radius: 4px;
    font-weight: 700 !important;
    padding: 10px 40px !important;
    &:hover {
        background: $cinza-3 !important;
    }
}
a,
button {
    transition: all .3s;
    &:hover {
        transition: all .3s;
    }
}