header {
    background: url(../../images/43688.jpg) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: grid !important;
    padding: 50px 0 0;
    position: relative;
    z-index: 2;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #00000080;
        z-index: -1;
    }
    .topo {
        color: $branco;
        position: relative;
        z-index: 2;
        #menu {
            display: flex;
            transition: all .3s;
            position: relative;
            z-index: 2;
            .container {
                padding: 0;
                a.logo {
                    margin: 0;
                    padding: 0;
                    img {
                        width: 70px;
                        height: 70px;
                    }
                }
                ul {
                    padding: 0;
                    margin: 0;
                    display: block;
                    width: 100%;
                    text-align: right;
                    li {
                        list-style: none;
                        padding: 0 0 0 20px;
                        margin: 0;
                        display: inline;
                        a {
                            display: inline-block;
                            color: $branco;
                            text-transform: uppercase;
                            font-weight: 700;
                            text-decoration: none;
                            &:hover {
                                color: $azul-1;
                            }
                        }
                    }
                }
            }
            &.menu-diferente {
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                background: $azul-1;
                padding: 15px;
                transition: all .3s;
                z-index: 3;
            }
        }
        .titulo-banner,
        .texto-banner,
        .botao-banner {
            display: block;
            clear: both;
        }
        .titulo-banner {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 100px;
            position: relative;
            float: left;
            &::after {
                content: '';
                position: absolute;
                width: 20px;
                height: 20px;
                background: $azul-1;
                border-radius: 100%;
                right: -30px;
                bottom: 33px;
            }
        }
        .texto-banner {
            width: 50%;
            font-size: 18px;
        }
        .botao-banner{
            margin: 40px 0 50px;
        }
    }
    .topicos {
        // z-index: 2;
        color: $branco;
        background: #00000080;
        padding: 20px 0;
        position: relative;
        .col-md-3 {
            padding: 0 30px;
            border-left: solid 1px $branco;
        }
        .topico-1 {
            border: 0;
            text-align: right;
            font-size: 20px;
            font-weight: 700;
            span {
                color: $azul-1;
                display: block;
            }
        }
    }
}