@media screen and (max-width: 767px) {
    header {
        padding: 0;
        .topo {
            #menu {
                padding: 15px 0;
                button.navbar-toggler {
                    background: url(../../images/bt-toggler.png) center center no-repeat;
                }
                .container {
                    .navbar-collapse.show {
                        position: fixed;
                        z-index: -1;
                        top: 0;
                        left: 0;
                        right: 0;
                        height: 100vh;
                        background: $azul-1;
                        ul {
                            text-align: center;
                            padding: 120px 0 0;
                            li {
                                display: block;
                                clear: both;
                                padding: 15px;
                            }
                        }
                    }
                }
            }
        }
        .topicos {
            display: none;
        }
    }
    .carousel.slide {
        .carrossel {
            margin: 50px 0 0;
            max-height: inherit;
        }
    }
    .about {
        .imagem {
            img {
                width: 100%;
                margin: 0 0 20px;
            }
        }
    }
}