@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap");
header {
  background: url(../../images/43688.jpg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: grid !important;
  padding: 50px 0 0;
  position: relative;
  z-index: 2; }
  header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #00000080;
    z-index: -1; }
  header .topo {
    color: #ffffff;
    position: relative;
    z-index: 2; }
    header .topo #menu {
      display: flex;
      transition: all .3s;
      position: relative;
      z-index: 2; }
      header .topo #menu .container {
        padding: 0; }
        header .topo #menu .container a.logo {
          margin: 0;
          padding: 0; }
          header .topo #menu .container a.logo img {
            width: 70px;
            height: 70px; }
        header .topo #menu .container ul {
          padding: 0;
          margin: 0;
          display: block;
          width: 100%;
          text-align: right; }
          header .topo #menu .container ul li {
            list-style: none;
            padding: 0 0 0 20px;
            margin: 0;
            display: inline; }
            header .topo #menu .container ul li a {
              display: inline-block;
              color: #ffffff;
              text-transform: uppercase;
              font-weight: 700;
              text-decoration: none; }
              header .topo #menu .container ul li a:hover {
                color: #4A90E2; }
      header .topo #menu.menu-diferente {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background: #4A90E2;
        padding: 15px;
        transition: all .3s;
        z-index: 3; }
    header .topo .titulo-banner,
    header .topo .texto-banner,
    header .topo .botao-banner {
      display: block;
      clear: both; }
    header .topo .titulo-banner {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 100px;
      position: relative;
      float: left; }
      header .topo .titulo-banner::after {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        background: #4A90E2;
        border-radius: 100%;
        right: -30px;
        bottom: 33px; }
    header .topo .texto-banner {
      width: 50%;
      font-size: 18px; }
    header .topo .botao-banner {
      margin: 40px 0 50px; }
  header .topicos {
    color: #ffffff;
    background: #00000080;
    padding: 20px 0;
    position: relative; }
    header .topicos .col-md-3 {
      padding: 0 30px;
      border-left: solid 1px #ffffff; }
    header .topicos .topico-1 {
      border: 0;
      text-align: right;
      font-size: 20px;
      font-weight: 700; }
      header .topicos .topico-1 span {
        color: #4A90E2;
        display: block; }

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 15px;
  padding: 0;
  margin: 0;
  background: #f8f8f8 !important; }

.btn {
  background: #4A90E2 !important;
  color: #ffffff;
  border-radius: 4px;
  font-weight: 700 !important;
  padding: 10px 40px !important; }
  .btn:hover {
    background: #9DA6B7 !important; }

a,
button {
  transition: all .3s; }
  a:hover,
  button:hover {
    transition: all .3s; }

@media (min-width: 768px) {
  /* show 3 items */
  .carousel-inner .active,
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
    display: block; }
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
    transition: none; }
  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0); }
  .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: -33%;
    z-index: -1;
    display: block;
    visibility: visible; }
  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible; }
  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible; }
  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible; } }

/* Bootstrap Lightbox using Modal */
#profile-grid {
  overflow: auto;
  white-space: normal; }

#profile-grid .profile {
  padding-bottom: 40px; }

#profile-grid .panel {
  padding: 0; }

#profile-grid .panel-body {
  padding: 15px; }

#profile-grid .profile-name {
  font-weight: bold; }

#profile-grid .thumbnail {
  margin-bottom: 6px; }

#profile-grid .panel-thumbnail {
  overflow: hidden; }

#profile-grid .img-rounded {
  border-radius: 4px 4px 0 0; }

.carousel.slide .carrossel {
  margin: 100px 0;
  max-height: 350px;
  overflow: hidden !important; }
  .carousel.slide .carrossel a.thumb {
    background: #ffffff;
    display: block;
    margin: 0 0 50px;
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none; }
    .carousel.slide .carrossel a.thumb .titulo {
      padding: 15px;
      color: #556677;
      font-size: 20px; }
    .carousel.slide .carrossel a.thumb .descricao {
      padding: 0 15px 15px;
      color: #9DA6B7; }
    .carousel.slide .carrossel a.thumb:hover {
      background: #9DA6B7; }
      .carousel.slide .carrossel a.thumb:hover .titulo,
      .carousel.slide .carrossel a.thumb:hover .descricao {
        color: #556677; }

.carousel.slide a.carousel-control-prev span, .carousel.slide a.carousel-control-next span {
  color: #4A90E2;
  background: url(../../images/arrow-carousel.jpg) center center no-repeat !important;
  width: 22px !important;
  height: 37px !important; }

.carousel.slide a.carousel-control-next span {
  transform: rotate(180deg); }

.about {
  margin: 0 0 60px; }
  .about .imagem img {
    border-radius: 10px; }
  .about .sobre .titulo {
    font-weight: 700;
    color: #4A90E2;
    text-transform: uppercase;
    font-size: 24px;
    margin: 0 0 20px; }
  .about .sobre .texto {
    color: #556677; }

footer .container span {
  border-top: solid 1px #CCCED250;
  color: #CCCED2;
  font-size: 11px;
  margin: 0 15px 60px;
  padding: 10px 0;
  display: block; }

@media screen and (max-width: 767px) {
  header {
    padding: 0; }
    header .topo #menu {
      padding: 15px 0; }
      header .topo #menu button.navbar-toggler {
        background: url(../../images/bt-toggler.png) center center no-repeat; }
      header .topo #menu .container .navbar-collapse.show {
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        height: 100vh;
        background: #4A90E2; }
        header .topo #menu .container .navbar-collapse.show ul {
          text-align: center;
          padding: 120px 0 0; }
          header .topo #menu .container .navbar-collapse.show ul li {
            display: block;
            clear: both;
            padding: 15px; }
    header .topicos {
      display: none; }
  .carousel.slide .carrossel {
    margin: 50px 0 0;
    max-height: inherit; }
  .about .imagem img {
    width: 100%;
    margin: 0 0 20px; } }
